extends ../layout

block content
  header.text-center
    h2#page-header 
      | Информация профиля
      if user.company.name
        | |
        small.label.label-success Компания #{user.company.name}

  form(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.form-label(for='email') Email
      input.form-input(type='email', name='email', id='email', value=user.email)
    .form-group
      label.form-label(for='name') Имя
      input.form-input(type='text', name='name', id='name', value=user.profile.name)
    .form-group
      label.form-label Пол
      label.form-radio
        input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
        i.form-icon 
        | Муж.
      label.form-radio
        input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
        i.form-icon 
        | Жен.
      label.form-radio
        input(type='radio', checked=user.profile.gender=='other', name='gender', value='other', data-toggle='radio')
        i.form-icon 
        | Другой
    .form-group
      label.form-label(for='location') Местоположение
      input.form-input(type='text', name='location', id='location', value=user.profile.location)
    .form-group
      label.form-label(for='website') Web-сайт
      input.form-input(type='text', name='website', id='website', value=user.profile.website)
    .form-group
      label.form-label Gravatar
      img(src=user.gravatar(), class='profile', width='100', height='100')
    .form-group
      button.btn.btn.btn-primary(type='submit')
        i.fa.fa-pencil
        | Обновить профиль

  header.text-center
    h3 Изменить пароль

  form(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.form-label(for='password') Новый пароль
      input.form-input(type='password', name='password', id='password')
    .form-group
      label.form-label(for='confirmPassword') Подтвердить пароль
      input.form-input(type='password', name='confirmPassword', id='confirmPassword')
    .form-group
      button.btn.btn-primary(type='submit')
        i.fa.fa-lock
        | Изменить пароль

  
  header.text-center
    h3 Конвертация профиля
  form.form-horizontal
    .form-group
      if !user.company.name
        a.btn.btn-primary(href='/convert', name='convert', id='convert') 
          i.fa.fa-refresh
          | Конвертировать
      else 
        h5
          small.label.label-danger Конвертация пройдена


  header.text-center
    h3 Удалить аккаунт

  form(action='/account/delete', method='POST')
    .form-group
      mark Вы можете удалить аккаунт, но это действие не обратимо
    .form-group
      input(type='hidden', name='_csrf', value=_csrf)
      button.btn.btn-danger(type='submit')
        i.fa.fa-trash
        | Удалить мой аккаунт

  header.text-center
    h3 Привязать аккаунты
  .form
    .form-group
      if user.vkontakte
        a.btn.btn-danger.btn-block.btn-vk.btn-social(href='/account/unlink/vkontakte') 
          i.fa.fa-minus
          i.fa.fa-vk
      else
        a.btn.btn-primary.btn-block.btn-vk.btn-social(href='/auth/vkontakte') 
          i.fa.fa-plus
          i.fa.fa-vk
      if user.instagram
        a.btn.btn-danger.btn-block.btn-vk.btn-social(href='/account/unlink/instagram')
          i.fa.fa-minus
          i.fa.fa-instagram
      else
        a.btn.btn-primary.btn-block.btn-vk.btn-social(href='/auth/instagram')
          i.fa.fa-plus
          i.fa.fa-instagram
      if user.google
        a.btn.btn-danger.btn-block.btn-vk.btn-social(href='/account/unlink/google')
          i.fa.fa-minus
          i.fa.fa-google
      else
        a.btn.btn-primary.btn-block.btn-vk.btn-social(href='/auth/google')
          i.fa.fa-plus
          i.fa.fa-google
      if user.facebook
        a.btn.btn-danger.btn-block.btn-vk.btn-social(href='/account/unlink/facebook')
          i.fa.fa-minus
          i.fa.fa-facebook
      else
        a.btn.btn-primary.btn-block.btn-vk.btn-social(href='/auth/facebook')
          i.fa.fa-plus
          i.fa.fa-facebook
      if user.twitter
        a.btn.btn-danger.btn-block.btn-vk.btn-social(href='/account/unlink/twitter')
          i.fa.fa-minus
          i.fa.fa-twitter
      else
        a.btn.btn-primary.btn-block.btn-vk.btn-social(href='/auth/twitter')
          i.fa.fa-plus
          i.fa.fa-twitter
      if user.github
        a.btn.btn-danger.btn-block.btn-vk.btn-social(href='/account/unlink/github')
          i.fa.fa-minus
          i.fa.fa-github
      else
        a.btn.btn-primary.btn-block.btn-vk.btn-social(href='/auth/github')
          i.fa.fa-plus
          i.fa.fa-github
      if user.linkedin
        a.btn.btn-danger.btn-block.btn-vk.btn-social(href='/account/unlink/linkedin')
          i.fa.fa-minus
          i.fa.fa-linkedin
      else
        a.btn.btn-primary.btn-block.btn-vk.btn-social(href='/auth/linkedin')
          i.fa.fa-plus
          i.fa.fa-linkedin