extends ../layout

block content
  header.text-center
    if categoryTitle
      h1#page-header #{categoryTitle}
    else 
      h1#page-header Новая категория
  input#file-input(type='file')
  img#preview(src='/img/bg.png')
  form(role='form', enctype='multipart/form-data', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', id="avatar-url", name="avatar-url", value="/img/bg.png")
    .form-group
      label.form-label(for="imageFile") Изображение
      input.form-input(type='file', name='imageFile', id='imageFile', accept="image/*")
    .form-group
      label.form-label(for='title') Название
      input.form-input(type='text', name='title', id='title', placeholder='Название', autofocus, required, value=categoryTitle, disabled=!isAdmin)
    .form-group
      label.form-label(for='description') Описание
      textarea.form-input(name='description', id='description', placeholder='Описание', rows='7', required, disabled=!isAdmin) #{categoryDescription}
    .form-group
      button.btn.btn-primary(type='submit', disabled=!isAdmin)
        if categoryTitle
          i.fa.fa-floppy-o
          span Обновить категорию
        else
          i.fa.fa-plus
          span Создать категорию
  if categoryTitle
    .divider.text-center(data-content="ИЛИ")
    form.form-horizontal(method='POST', action='/delete/'+categorySlug)
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.form-label(for='delete') Удалить категорию
        a.btn.btn-danger(href='#delete-modal', id='delete')
          i.fa.fa-trash-o
          span.hide-xs Удалить категорию
        include delete