-var inTotalHystoryWithDiscount = 0;
mixin order-list(cartItem)
  .order-cart-item.hystory(data-cart-item-id=cartItem.cartItemId._id)
    .cart-item-img
      img.img-responsive(src='/uploads/'+cartItem.cartItemId.logo)
    .cart-item-title
      p #{cartItem.cartItemId.title} 
        if cartItem.cartItemId.discount != 0
          span.product-discount.label.label-success
            span(id=cartItem.cartItemId._id+'-discount') #{cartItem.cartItemId.discount}
            i.fa.fa-percent
      //- p #{cartItem.cartItemId.composition}  
    input.form-control.text-center.cart-item-count(type='number', size="5", name="count", class='cart-item-count', min="0", max="50", step='1', value=cartItem.count, data-cart-item-id=cartItem.cartItemId._id, disabled=orderStatus?true:false)
    .price-block.text-center(id=cartItem.cartItemId._id)
      span.product-price.red(style="display: none;") Цена: 
        strong
          span(id=cartItem.cartItemId._id+'-price') #{cartItem.cartItemId.price}
        i.fa.fa-rub
      
      span.product-total.text-center
        strong
          span(id=cartItem.cartItemId._id+'-total')
            =Math.round(cartItem.cartItemId.price*cartItem.count/((cartItem.cartItemId.discount+100)/100))
            -inTotalWithDiscount += Math.round(cartItem.cartItemId.price*cartItem.count/((cartItem.cartItemId.discount+100)/100));
        i.fa.fa-rub
    .delete-btn.text-right
      //- i.btn.btn-danger.fa.fa-trash-o(data-cart-item-id=cartItem.cartItemId._id, aria-label="Delete", aria-hidden="true", style="margin-right: 0px;", disabled=orderStatus?true:false)
for cartItem in hystoryList
  +order-list(cartItem)