-var inTotalhistoryWithDiscount = 0;
mixin status(item)
  if (item.status == 1)
    span.label.label-success(data-order-item-id=item._id) Новый
  if (item.status == 2)
    span.label.label-warning(data-order-item-id=item._id) В работе
  if (item.status == 3)
    span.label.label-primary(data-order-item-id=item._id) Выдан
  if (item.status == 4)
    span.label.label-danger(data-order-item-id=item._id) Закрыт

mixin status-btn(item)
  if (item.status == 1)
    button.form-control.btn.btn-warning(class='in-work', data-order-item-id=item._id)
      | Принять заказ в работу
  if (item.status == 2)
    button.form-control.btn.btn-primary(class='out-work', data-order-item-id=item._id)
      | Выдать заказ
  if (item.status == 3)
    button.form-control.btn.btn-danger(class='close', data-order-item-id=item._id)
      | Закрыть заказ

mixin order(order)
  .order-cart-item.open-order
    .cart-item-title
      p #{order.cartItemId.title}
    .cart-item-count.text-right
      p #{order.count}
      -inTotalhistoryWithDiscount += Math.round(order.cartItemId.price*order.count/((order.cartItemId.discount+100)/100));

mixin orderOpenList(item)
  .panel.panel-default
      .panel-heading(role='tab', id='heading'+item._id)
        h4.panel-title
          +status(item)
          a(role='button', data-toggle='collapse', data-parent='#accordion', href='#'+item._id, aria-expanded='false', aria-controls=item._id)
            |  Заказ №#{item._id} 
          small 
            =convert(item.updatedAt)
            //- | #{item.updatedAt}
      .panel-collapse.collapse(role='tabpanel', aria-labelledby='heading'+item._id, id=item._id)
        .panel-body
          for order in item.historyList
            +order(order)
          strong Комментарий к заказу:
          pre #{item.comment}
          hr
          h4.text-right.total
            strong
              | Итого: 
              span#total 
                =inTotalhistoryWithDiscount
            i.fa.fa-rub
          +status-btn(item)

include ../functions/convertToLocalTime                  

#accordion.panel-group(role='tablist', aria-multiselectable='true')
  for item in orderOpenList
    +orderOpenList(item)