extends ../layout

block content
  header.text-center
    if categoryTitle
      h1#category-header #{categoryTitle}
    if productTitle
      h2#page-header #{productTitle}
    else 
      h2#page-header Добавить в категорию #{categoryTitle}
      
  input#file-input(type='file', accept="image/*")
  img#preview(src=avatarUrl?avatarUrl:'/img/bg.png')
  form(role='form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', id="avatar-url", name="avatarUrl", value=avatarUrl)
    //- .form-group
    //-   label.form-label(for="imageFile") Изображение
    //-   input.form-input(type='file', class='btn btn-primary', name='imageFile', id='imageFile', accept="image/*")
    .form-group
      label.form-label(for='title') Название
      input.form-input(type='text', name='title', id='title', placeholder='Название', autofocus, required, value=productTitle, disabled=!isAdmin)
    .form-group
      label.form-label(for='description') Описание
      textarea.form-input(name='description', id='description', placeholder='Описание', rows='3',  disabled=!isAdmin) #{productDescription}
    .form-group
      label.form-label(for='composition') Состав
      textarea.form-input(name='composition', id='composition', placeholder='Состав', rows='5', required, disabled=!isAdmin) #{productComposition}
    .form-group
      label.form-label(for='price') Цена, руб.
      input.form-input(type='number', size="5", name="price", id='price', min="0", step='5', value=productPrice, disabled=!isAdmin, required)
    .form-group
      label.form-label(for='waiting') Время ожидания, мин.
      input.form-input(type='number', size="5", name="waiting", id='waiting', min="0", step='10', value=productWaiting, disabled=!isAdmin, required)
    .form-group
      label.form-label(for='discount') Скидка, %
      input.form-input(type='number', size="5", name="discount", id='discount', min="0", max="100", step='5', value=productDiscount, disabled=!isAdmin, required)
    .form-group
      button.btn.btn-primary(type='submit', disabled=!isAdmin)
        if productTitle
          i.fa.fa-floppy-o
          | Обновить
        else
          i.fa.fa-plus
          | Создать
  if productTitle
    .divider.text-center(data-content="ИЛИ")
    form(method='POST', action='/delete/'+categorySlug+'/'+productSlug)
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.form-label(for='delete') Удалить продукт
        a.btn.btn-danger(href='#delete-modal-product', id='delete')
          i.fa.fa-trash-o
          span.hide-xs Удалить продукт
        include delete