mixin product-list(product)
  .column.col-3.col-xl-4.col-lg-4.col-md-4.col-sm-6.col-xs-12.flex
    .card.rel
      .card-image
        if isAdmin
          a(href='/category/'+categorySlug+'/'+product.slug)
            img(class="img-responsive", src=product.logo)
        else
          img(class="img-responsive", src=product.logo)
      .card-header
        .card-title
          if isAdmin
            a(href='/category/'+categorySlug+'/'+product.slug) #{product.title}
          else 
            | #{product.title}
        .card-subtitle #{product.description}
      .card-body
        if product.discount !=0
          span.discount.label.label-success.abs #{product.discount} 
            i.fa.fa-percent
        span.product-composition #{product.composition}
        span.product-price.red #{product.price}
          i.fa.fa-rub
        span.product-waiting 
          i.fa.fa-clock-o #{product.waiting}
        if !isAdmin
          button.btn.btn-primary.cart-add-btn(data-product-id=product._id)
            i.fa.fa-plus(data-product-id=product._id)

for product in productList
  +product-list(product)